@tailwind base;
@tailwind components;
@tailwind utilities;

/* Display scrollbar for the q-page content, not for the whole page */
html,
body,
#q-app,
.q-layout,
.q-page-container,
div.q-page {
  overflow-y: hidden;
  max-height: 100vh;
}

.q-page-container > main.q-page {
  /* viewport height minus header height minus footer size */
  max-height: calc(100vh - 50px - 104px);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
